.mitr-extralight {
  font-family: 'Mitr', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mitr-light {
  font-family: 'Mitr', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mitr-regular {
  font-family: 'Mitr', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mitr-medium {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mitr-semibold {
  font-family: 'Mitr', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mitr-bold {
  font-family: 'Mitr', sans-serif;
  font-weight: 700;
  font-style: normal;
}
